@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;

    --border: #2a2f45;
    --ring: #6e56cf;
    --accent: #11172d;
    --card: #1c274f;
    --button: #392c72;
    --red9: #e5484d;
    --green7: #1b543a;
    --violet5: #32275f;
    --violet6: #392c72;
    --violet8: #5842c3;
    --violet9: #6e56cf;
    --white12: #ededed;
    --gray11: #a0a0a0;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-card: var(--card);
    --color-ring: var(--ring);
    --color-button: var(--button);
    --color-red9: var(--red9);
    --color-green7: var(--green7);
    --color-violet5: var(--violet5);
    --color-violet6: var(--violet6);
    --color-violet8: var(--violet8);
    --color-violet9: var(--violet9);
    --color-white12: var(--white12);
    --color-gray11: var(--gray11);

    --color-background: var(--background);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-inter: var(--font-inter-sans);
    --font-handjet: var(--font-handjet-sans);
    --font-silkscreen: var(--font-silkscreen-sans);
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Silkscreen, sans-serif;
}
